[Unit]
Description=Dynamic Window Rules
BindsTo=niri.service
After=niri.service

[Service]
ExecStart=/home/jappe/.config/niri/scripts/dynamic_window_rules.py
