[Unit]
Description=OpenRGB

[Install]
Wantedby=multi-user.target

[Service]
ExecStart=/usr/bin/openrgb --startminimized --profile "1s-white-breathing"