[Unit]
Description=Polkit Agent
# stops the service when niri stops
PartOf=niri.service

[Install]
# starts the service when niri starts
WantedBy=niri.service

[Service]
ExecStart=/lib/polkit-kde-authentication-agent-1
