[Unit]
Description=swww daemon for the niri background
# stops the service when niri stops
PartOf=niri.service

[Install]
# starts the service when niri starts
WantedBy=niri.service

[Service]
ExecStart=/usr/bin/swww-daemon --namespace niri-background

